:root {
    /*hover/active text*/
    --active-question: hsl(238, 29%, 16%);
    --hover-question: hsl(14, 88%, 65%);
    /*static text*/
    --inactive-question:hsl(237, 12%, 33%);
    --text:hsl(240, 6%, 50%);
    /*background*/
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    /*dividers*/
    --divider:hsl(240, 5%, 91%);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
}

body {
    background: linear-gradient( var(--soft-violet) -50%, var(--soft-blue) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    background-color: #fff;
    border-radius: 25px;
    max-width: 1010px;
    width: 90%;
    margin-top: 9em;
    box-shadow: 0px 17px 18px 0px rgba(0, 0, 0, 0.2);
}
.card .image_box {
    display: block;
    text-align: center;
    background-image: url(./images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
    height: 22%;
}

.card .image_box .img {
    z-index: 5; 
    position: relative; 
    top: -9em;
    left: -1em;
}

.card .image_box .orange_box {
    display: none;
}

.accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordion .title {
    text-align: center;
    color: var(--active-question);
    font-weight: 700;
}

.accordion .faq_text {
    width: 100%;
    padding: 0;
}

.accordion .faq_text li {
    list-style: none;
    cursor: pointer;
    margin: 0 2em 0 2em;
}

.accordion .faq_text li .question_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.accordion .faq_text .question_btn .question_title{
    font-size: 1.1em;
    font-weight: 400;
    color: var(--inactive-question);
}

.accordion .faq_text li .question_btn .question_title:hover {
    color: var(--hover-question);
}

.accordion .faq_text li .question_btn .arrow {
    background-image: url(./images/icon-arrow-down.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    transition: all 0.3s ease;
}

.text {
    display: none;
    width: 90%;
    color: var(--text);
}

/* .hide {
    display: none;
} */

.show {
    display: block;
}

.rotate {
    transform: rotate(-180deg);
}

.active {
    color: var(--active-question);
}

.accordion .faq_text li .line {
    height: 2px;
    display: block;
    background-color: var(--divider);
}


.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 3em;
  color: #fff;
}
.attribution a {
  color: var(--soft-violet);
}
